.container_main{
    display: flex;
    flex-direction: row ;
}
.welcome{
    width: 30vw;
    height: 100vh;
    background-color: #fafafa;      
    display: flex;
    border-radius: 0 20px 20px 0 ;
    flex-direction: row;
    align-items: center;
    justify-content:center;

    .samanta_logo_cadastro{
        width: 100%;
    }
}

.titulo_principal {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
}
/* .img__logo_sistemas{
    width: 11rem;
    height: 4rem;
    margin-right:auto;
} */

.forms{
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__input_centralizado{
    width: 70%;
    height:70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_acesso{
    color: #fafafa;
    font-size: 30px;
}            

.div__input{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 2.2rem;
    width: 80%;
    background-color: #fafafa;
    margin-bottom: 2rem;
    border-radius: 37px;
}
.icon{
    padding-left: 1rem ;
}
.input__login{
    text-align: left;
    width: 100%;
    height: 2rem;
    border-radius: 20px ;            
    border: none;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fafafa;
}
.input__login::-webkit-input-placeholder{
    text-align: left;
}

.new_account{
    color: #fafafab1;
    .link{
        color: #fafafa;
        font-weight: bold;
        text-decoration: none;
    }
    .link:hover{
        transition: 0.3s;
        color: #b5b3b3;
    }
}

@media (max-width: 800px){
    // .container_main{
    //     display: flex;
    //     flex-direction: column ;
    // }
    // .welcome{
    //     box-shadow: 0 5px 5px #0c090938;
    //     width: 100vw;
    //     height: 25vh;
    //     border-radius: 0 0 0 40px ;
    //     justify-content: center;
        
    // }
    .img__logo_eleb{
        height: 4rem;
        margin-left: auto;
        margin-right:auto;
    }
    .titulo_principal {
        margin: 0;
        font-size: 20px;
    }
    /* .img__logo_sistemas{
        width: 7rem;
        height: 2rem;
        margin-left: auto;
        margin-right:auto;
    } */
    
    .forms{
        justify-content:flex-start;
        width: 100vw;
        height: 80vh;
    }
    .div__input_centralizado{
        margin-top: 10vh;
        justify-content: flex-start;
    }
}